$grey: 		#F3F5F6;
$dark:		#333333;
$blue: 		#2196F3;
$pink: 		#E91E63;
$green: 	#4CAF50;
$orange: 	#FFC107;

html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
}

body {
	background: white;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	color: $dark;
}

::selection {
	color: $dark;
	background: rgba($dark, 0.2);
}
body[data-user="1"] {
	::selection {
		background: rgba($blue, 0.2);
	}
}
body[data-user="2"] {
	::selection {
		background: rgba($pink, 0.2);
	}
}
body[data-user="3"] {
	::selection {
		background: rgba($green, 0.2);
	}
}
body[data-user="4"] {
	::selection {
		background: rgba($orange, 0.2);
	}
}


.gutter {
	height: 100%;
	background: white;
	border-right: 1px solid $grey - 20;
	position: relative;
	float: left;
	cursor: ew-resize;
	&:before {
		content: "";
		width: 3px;
		height: 3px;
		background: $grey - 20;
		border-radius: 100%;
		box-shadow: 0 -5px 0 0px $grey - 20, 0 5px 0 0px $grey - 20;
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
	}
}
