$grey: 		#F3F5F6;
$dark:		#252525;
$blue: 		#2196F3;
$pink: 		#E91E63;
$green: 	#4CAF50;
$orange: 	#FFC107;
$red:		#F44336;

html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
}

body {
	background: $grey;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	color: $dark;
}

::selection {
	color: $dark;
	background: rgba($dark, 0.2);
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}