body[data-darkmode="on"] {

	aside {
		color: white;
		background: $dark;
		border-right: 1px solid $dark - 10;
		header {
			background: $dark;
			box-shadow: 0 0 5px rgba(black, 0.6);
		}
		#tabs {
			li {
				background: $dark + 20;
				border-right: 1px solid $dark - 10;
				&:hover {
					background: $dark + 10;
				}
				&.active {
					background: $dark;
					&:after {
						background: $dark;
					}
				}
			}
		}
		#options {
			background: $dark + 20;
			&:before {
				background: $dark + 80;
				box-shadow: 0 -5px 0 0px $dark + 80, 0 5px 0 0px $dark + 80;
			}
			&:hover, &.open {
				&:before {
					background: white;
					box-shadow: 0 -5px 0 0px white, 0 5px 0 0px white;
				}
			}
			form {
				background: $dark;
				box-shadow: 0 0 50px rgba(black, 0.6);
				&:before {
					border-color: transparent transparent $dark transparent;
				}
				fieldset {
					border-color: $dark + 20;
					textarea, input[type="text"] {
						background: $dark + 20;
						&::-webkit-input-placeholder {
							color: $dark + 80;
						}
						&::-moz-placeholder {
							color: $dark + 80;
						}
						&:-ms-input-placeholder {
							color: $dark + 80;
						}
						&:-moz-placeholder {
							color: $dark + 80;
						}
					}
				}
				div {
					background: $dark + 20;
				}
			}
		}
	}

	.CodeMirror {
		color: white;
	}
	.CodeMirror-gutters {
		background: $dark;
	}
	.CodeMirror-linenumber {
		color: #666666;
	}
	.CodeMirror-simplescroll-horizontal div,
	.CodeMirror-simplescroll-vertical div {
		background: $dark + 30;
		box-shadow: 0 0 5px rgba(black, 0.6);
	}
	.CodeMirror-simplescroll-horizontal,
	.CodeMirror-simplescroll-vertical {
		background: $dark;
	}
	.CodeMirror-gutter-filler,
	.CodeMirror-scrollbar-filler {
		background: $dark;
	}
	div.CodeMirror span.CodeMirror-matchingbracket {
		&:after {
			background: $dark + 80;
		}
	}
	div.CodeMirror span.CodeMirror-matchingtag {
		&:after {
			background: $dark + 80;
		}
	}

	.cm-s-default .cm-comment {color: #666666;}
	.cm-s-default .cm-meta {color: #FFFFFF;}
	.cm-s-default .cm-tag.cm-bracket {color: #FFFFFF;}
	.cm-s-default .cm-atom {color: #5C6BC0;}

	.gutter {
		background: $dark + 30;
		border-right: 1px solid $dark - 10;
		&:before {
			background: $dark + 80;
			box-shadow: 0 -5px 0 0px $dark + 80, 0 5px 0 0px $dark + 80;
		}
	}

}