#index, #private, #full, #nothing {
	width: 500px;
	text-align: center;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	user-select: none;
	@media only screen and (max-width: 500px) {
		width: 100%;
		padding: 0 50px;
	}
	h1 {
		font-size: 50px;
		font-weight: 300;
		line-height: 1.0;
		margin-bottom: 15px;
		img {
			width: 50px;
			height: 50px;
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px;
			transform: translateY(-2px);
		}
	}
	p {
		font-size: 18px;
		margin-bottom: 30px;
		color: $dark + 80;
	}
	fieldset {
		input, button {
			box-shadow: 0 0 30px rgba(black, 0.1);
			@media only screen and (max-width: 500px) {
				display: block;
				margin: 0 auto;
			}
		}
		&.combo {
			input {
				background: white;
				padding: 0 20px;
				border-radius: 0;
				border-top-left-radius: 50px;
				border-bottom-left-radius: 50px;
				@media only screen and (max-width: 500px) {
					border-radius: 20px;
					border-bottom-right-radius: 0px;
					border-bottom-left-radius: 0px;
				}
			}
			button {
				margin-left: -3px;
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				@media only screen and (max-width: 500px) {
					margin-left: auto;
					border-radius: 20px;
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
				}
			}
		}
	}
	small {
		display: block;
		font-size: 12px;
		margin-top: 20px;
		color: $grey - 80;
		cursor: pointer;
		strong {
			font-weight: 700;
			color: $blue;
		}
		&:hover {
			color: $grey - 100;
		}
	}
}


#index {
	fieldset {
		&:nth-of-type(1) {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid $grey - 20;
		}
	}
	#createProject {
		width: 180px;
	}
	#joinProject {
		width: 160px;
	}
	input {
		width: 160px;
	}
}

#private {
	#joinPrivate {
		width: 160px;
	}
	input {
		width: 160px;
	}
}

#full {
	#tryAgain {
		width: 120px;
	}
}

#nothing {
	#goBack {
		width: 140px;
	}
}