main {
	width: calc(100% - 600px);
	height: 100vh;
	box-shadow: 0 0 50px rgba(black, 0.15);
	position: absolute;
	top: 0; right: 0;
	z-index: 6;
	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0; left: 0;
	}
}